<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739083313594-8ujbpbva2cqr31e2oak1r55gmm93i4r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739083313594-8ujbpbva2cqr31e2oak1r55gmm93i4r3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739083313594-vfae9nmadhdd59m97pfskt2fclubk7n9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaz8kSFmODqoeRxmYU_TIn3GZp03dGhtM</string>
	<key>GCM_SENDER_ID</key>
	<string>739083313594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pictureFlutter</string>
	<key>PROJECT_ID</key>
	<string>pictureapp-21f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>pictureapp-21f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739083313594:ios:6b50802ae6dac16049fd83</string>
</dict>
</plist>